.for-background-of-reset{
    background-color: antiquewhite;
    height: 100vh;
}
.for-card{
    background-color: azure;
    border-radius: 20px;
}
.for-button{
    border-radius: 15px;
    height: 45px;
}