body{
    display: grid;
    place-items: center;
}
.for-outer-background{
    background-color: antiquewhite;
    height: 100vh;
}
.for-innerbackground{
    background-color: azure;
    border-radius:10px;
}
.fonting{
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
}
table{
    width: 600px;
    box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);
}
table,td,th{
    padding: 9px;
    border: 1px solid lightgoldenrodyellow;
    border-collapse: collapse;
    text-align: center;
}
td{
    font-size: 15px;
}
th{
    background-color: antiquewhite;
<<<<<<< HEAD
}
=======
}
>>>>>>> d0899628bd29fae36ef4968120c9a3fd48a758cf
