.for-colour-background{
    background-color: rgb(205, 185, 224);
}
.verify-card{
    background-color: white;
    border-radius: 20px;
}
.for-mail{
}
.button-for-verification{
    background-color: rgb(153, 109, 194);
    height: 40px;
    border: 0px;
    border-radius: 10px;
}